        /* Colors:
        Dark green: #434f40
        Light green: #959d93
        Gold: #b09867
        Off-white: #f5f8f5
        */
        

        * {
            color:#434f40;
            background-color: rgba(255, 0, 0, 0.1);

        }
        body{
            font-family: 'neue-haas-grotesk-text', sans-serif;
            font-weight: 300;
        }
        h1, h2, h3 {
            font-family: "filmotype-maxwell", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 250%;
        }
        #header {
           width: 100%;
           background-color: #434f40;
           position: sticky;
           top:0;
           display:flex;
           justify-content: center;
           align-items:center;
           color: #f5f8f5;
           z-index: 999;
        }
        .nav_item {
            text-transform: uppercase;
            font-weight: bold;
            padding:25px;
            transition: 0.2s ease-in-out;
            color:#f5f8f5;
        }
        .nav_item a{
            color:#f5f8f5;
            text-decoration: none;
        }
        .nav_item:hover{
            transform: scale(103%);
            text-shadow: 3px 3px 5px #434f40;
        }
        .container{
            padding: 200px 100px;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .green-container{
            background: linear-gradient(117deg, rgba(149,157,147,1) 0%, rgba(67,79,64,1) 100%);
        }
        #hero{
            padding:100px;
            background-color: #f5f8f5;
        }
        #hero img{
            max-width:600px;
            border-radius: 50%;
            margin-bottom: 50px;
            box-shadow: 0px 0px 10px #7a8378;
        }
        
        #hero h4{
            color: #434f40;
            margin-top: 60px;
            font-size: 20px;
            font-weight: 300;
        }
        #hero_text{
            font-family: "filmotype-maxwell", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 70px;
        }
        #about_me_container {
            padding: 100px 100px;
            height:auto;
        }
        #about_me {
            color:#434f40;
            height: 45%;
            width: 75%;
            padding:80px 40px;
            background-color: #f5f8f5;
            border-radius: 40px;
            transition: 0.7s ease-in-out;
            display: flex;
            flex-direction: column;
            align-items: center;
            min-width: 300px;
            
        }
        #about_me:hover{
            transform: scale(103%);
            box-shadow: -15px -15px 30px #959d93, 15px 15px 30px #2b302a;
        }
        #about_me_title {
            font-weight: bold;
            padding:5px;
            position: relative;
            top: -20px;
            margin-bottom: 50px;
            border-bottom: 1px solid #434f40;
        }
        #about_me_content{
            width:100%;
            display:flex;
            flex-direction: row; 
            justify-content:space-around;
            flex-wrap: wrap;
        }
        
        #about_me_photo{
            background-image: url(me2.JPG);
            height: 500px;
            width: 400px;
            background-size: cover;
            background-position: center;
            border-radius: 25px;
            min-width: 150px;
        }
        #about_me_text {
            margin-top: 5%;
            width:50%;
            min-width: 300px;
        }
        #projects_container {
            background-color: #f5f8f5;
        }
        #projects_title{
            font-weight: bold;
            padding:5px;
            width:100%;
            position: relative;
            top: -20px;
            margin-bottom: 50px auto 50px auto;
        }
        #projects_flexbox{
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
        }
        .projects {
            width: 350px;
            margin: 25px;
            height: 350px;
            border-radius: 25px;
            background: linear-gradient(117deg, rgba(149,157,147,1) 0%, rgba(67,79,64,1) 100%);
            text-decoration: none;
            display: flex;
            flex-direction: column;
            align-items:center;
            justify-content:center;
            transition: 0.4s ease-in-out;
            overflow: hidden;
        }
        .projects:hover {
            transform: scale(105%);
            box-shadow: 8px 8px 10px #d5d7d5;
        }
        .project_name {
            color: #f5f8f5;
            letter-spacing: 1px;
            font-size: 140%;
            font-weight: 500;
            /* text-transform: uppercase; */
            margin:25px 0px;
        }
        #travellia{
            background-image: linear-gradient(to bottom,  rgba(149,157,147,0), rgba(149,157,147,0), rgba(67, 79, 64, 0.3)), url(travellia/travellia.jpeg);
            background-size: cover;
            background-position: right;
        }
        #homeward{
            background-image: linear-gradient(to bottom,  rgba(149,157,147,0), rgba(149,157,147,0), rgba(67, 79, 64, 0.3)), url(homeward/DSC_0196.JPG);
            background-size: cover;
            background-position: center;
        }
        #del-sol{
            background-image: linear-gradient(to bottom,  rgba(149,157,147,0), rgba(149,157,147,0), rgba(67, 79, 64, 0.3)), url(del-sol/sunflower3.jpg);
            background-size: cover;
            background-position: center;
        }
        .project_grid a{
            text-decoration: none;
            border-bottom:none;
        }
        #contact_me_title{
            color: #f5f8f5;
        }
        #contact-form{
            display: flex;
            flex-direction: row;
            justify-content:center;
            width:80%;
        }
        #contact-info{
            flex-direction: column;
        }
        #contact-message{
            flex-direction: column;
        }
        .form-items{
            padding:10px;
            color: #f5f8f5;
        }
        .form-items p{
            color:#f5f8f5;
        }
        .form-items input{
            padding: 20px;
            width: 300px;
            border-radius: 25px;
            border: none;
            box-shadow: inset 5px 5px 10px #959d93, 5px 5px 10px #7a8378;
        }
        #form-submit{
            margin: 50px;
            padding: 15px;
            width: 120px;
            border-radius: 25px;
            border: none;
            background-color: #f5f8f5;
            color: #434f40;
        }
        .content{
            position:relative;
            width: 100%;
            height:100%;
            top:275px;
            background: rgb(149,157,147);
            background: linear-gradient(128deg, rgba(149,157,147,0.8) 0%, rgba(84,91,82,0.8) 100%);
            text-align: center;
            transition: 0.8s ease-in-out;
        }
        .content p{
            width:80%;
            margin: 0 auto;
            color:white;
        }
        .content:hover{
            top:100px;
            border-radius: 25px;
        }    
        .coming-soon{
            background: url(construction.svg);
            background-size: cover;
            background-position: center;
        }    
        @media only screen and (max-width: 768px) {
            #hero img{
                max-width: 300px;
                margin:0;
            }
            .container{
                padding: 50px 50px;
            }
            .green-container{
                background: #f5f8f5;
            }
            #about_me_container{
                padding:0;
            }
            #about_me{
                padding:0;
                width:100%;
            }
            #about_me:hover{
            transform: none;
            box-shadow: none;
            }
            #about_me_photo{
                height:350px;
                width:300px;
            }
            #contact-form{
                width: 100%;
                padding: 0;
                display: flex;
                flex-direction: column !important;
                align-items: center;
                justify-content: center;
            }
            .projects{
                width:250px;
                height:250px;
            }
            #contact_me_title{
                color: #434f40;
            }
            #form-submit{
                background-color: #434f40;
                color: #f5f8f5;
            }
        }